bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs
*.user
/Iceberg.Net.Benchmarks/BenchmarkDotNet.Artifacts
/nuget
Playground/Properties/launchSettings.json
/Apache.Arrow
/.claude
**/.kiota.log
.DS_Store
temp/engineered-wood/
**/.venv/
/artifacts/traces
